/* GENERAL STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER STYLE */

#top-container {
    width: 100%;
    position: fixed;
    background-color: rgb(237, 114, 46);
    z-index: 999;
}

#top-bar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

/* top-link style */
.top-link {
    display: flex;
    color: white;
}

.top-link li {
    list-style-type: none;
    padding: 0 6px;
}

li a {
    color: white;
    font-weight: 700;
} 

li i {
    color: white;
    font-size: 23px;
    padding: 0 4px;
} 

/* top-logo style */
#top-logo{
    padding-right: 8%;
}

#top-logo img {
    height: 50px;
}

/* MAIN STYLE */

main {
    background-color: grey;
    padding-top: 9%;
    height: 1000px;
}

#container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: calc(100% / 3);
}

.card {
    position: relative;
}

/* img stye */
.product img {
    width: 100%;
}

.frontimg {
    position: absolute;
    z-index: 2;
}

.flipimg {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
/* heart style */
.heart {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 10px 20px;
}

.heart button {
    border: none;
    font-size: 30px;
    background-color: transparent;
}


/* HOVERT STYLE */

a:hover {
    text-decoration: underline;
}

li:hover i {
    transform: translateY(-2px);
}

.frontimg:hover {
    display: none;
}

.heart:hover i {
    color: red;
}